*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
/* HEADER */
header{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
section{
    width: 100%;
    float: left;
}
footer{
    width: 100%;
    float: left;
    padding: 15px 0 15px 0;
}

.position-menu{
    position: absolute;
    z-index: 1000;
    top: 20px;
}
.mid-logo{
    text-align: center;
}
.right-header{
    text-align: right;
}
.right-header a {
    color: black;
}
.right-header a:hover{
    color: #ee3535;
}
.left-header ul>li {
    float: left;
    list-style: none;
    box-sizing: border-box;
}
.left-header li a {
    color: #292929;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    transition: color 300ms;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.left-header li a:hover {
    color: #ee3535;
    border-bottom: 1px solid #292929;
}
.search {
    width: 100%;
    float: left;
}
.search-content{
    width: 100%;
    float: left;
    display: none;
}

.search-text {
    width: 70%;
    float: right;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
}
.search-text input{
    width: 80%;
    padding-right: 10px;
    float: left;
    box-sizing: border-box;
}
.search-text input::placeholder{
    text-transform: capitalize;

}
.search-text button {
    width: 20%;
    float: left;
}
.search-text button:hover {
    background-color: black;!important;
    color: white;!important;
}
.search-table {
    width: 70%;
    height: 300px;
    float: right;
    background-color: white;
    border: 1px solid #c3c3c3;
    padding: 10px;
    opacity: 0.8;
    overflow: scroll;
}
#table{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: red;
    text-align: left;
    line-height: 2;
    transition: 300ms color;
}
#table tbody a:hover{
    text-decoration: none;
    color: red;
}

.search-table a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.search-table img{
    width: 30px;
}
.img-nen{
    width: 100%;
    float: left;
}
.text-img{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    bottom: 200px;
}
.text-img h4{
    font-size: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.text-img a{
    font-size: 20px;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
}
.text-img a:hover{
    color: black;
}
.text-img span{
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
}
/*Section*/
.secure{
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
.secure-left{
    width: 20%;
    float: left;
    padding: 0 0 30px 0;
    border-right: 1px solid #a6bed2;
}
.secure-left i{
    font-size: 40px;
    color: red;
}
.secure-left span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 10px;
    color: red;
}
.secure-right{
    width: 80%;
    float: left;
    padding-left: 20px;
}
.secure-right p{
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: red;
}
.content{
    width: 100%;
    float: left;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dfd5d3;
    border-top: 1px solid #dfd5d3;
}
.tab-list{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
}
.tab-list i{
    font-size: 50px;
    color: red;
}
.tab-list li a{
    color: black; !important;
}
.tab-content{
    width: 100%;
    float: left;
}
.visa-group{
    width: 100%;
    float: left;
    padding-top: 30px;
}
.paypal-group{
    width: 100%;
    float: left;
    padding-top: 30px;
}
.mastercard-group{
    width: 100%;
    float: left;
    padding-top: 30px;
}
.billing{
    width: 50%;
    float: left;
    padding: 0 30px 0 0;
}
.billing-title{
    width: 100%;
    float: left;
    padding-bottom: 30px;
}
.billing-title-left{
    width: 50%;
    float: left;
    padding-top: 40px;
}
.billing-title-right{
    width: 50%;
    float: left;
}
.billing-title-right img{
    width: 40%;
    float: right;
}
.billing h2{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.payment{
    width: 50%;
    float: left;
    padding: 0 0 0 30px;
}
.input{
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.input-text{
    width: 30%;
    float: left;
    line-height: 1.8;
}
.input-text span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
span .star{
    color: red;
}
.input-content{
    width: 70%;
    float: left;
}
.input-content input{
    height: 30px;
}
.payment-title{
    width: 100%;
    float: left;
    padding-bottom: 40px;
}
.payment-title-left{
    width: 50%;
    float: left;
    padding-top: 40px;
}
.payment-title-left h2{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.payment-title-right{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.payment-title-right img{
    width: 40%;
    float: right;
}
.payment-content{
    width: 100%;
    float: left;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}
.input2{
    width: 100%;
    float: left;
}
.input2 span{
    color: red;
}
.input2 p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.input2 input{
    height: 30px;
}
.select-group{
    width: 100%;
    float: left;
}
.select-group-left{
    width: 50%;
    float: left;
    padding-right: 10px;
}
.select-group-right{
    width: 50%;
    float: left;
}
.button{
    width: 100%;
    float: left;
}
.input3{
    width: 100%;
    float: left;
    line-height: 1.5;
    padding-bottom: 20px;
}
.input3 label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 5px;
    color: red;
}
.input3 button{
    width: 100%;
    height: 50px;
}


/*End Section*/

/*footer*/
footer{
    background-color: #292929;
    padding: 100px 0 30px 0;
}
.footer-left{
    width: 40%;
    float: left;
}
.logo-f{
    width: 100%;
    float: left;
    padding-bottom: 20px;
}
.logo-f img{
    width: 100px;
}
.ct-name{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #8a9288;
    font-weight: 500;
}
.footer-right{
    width: 50%;
    float: left;
}
.open-time{
    width: 35%;
    float: left;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    padding-right: 20px;
    padding-top: 2px;
}
.open-time h3{
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}
.open-time p{
    color: #8a9288;
}
.info{
    width: 30%;
    float: left;
    line-height: 2;
}
.info h3{
    color: white;
    padding-bottom: 20px;
    font-size: 18px;
}
.info p{

    color: #8a9288;
}
.customer-sv{
    width: 35%;
    float: left;
    line-height: 2;
}
.customer-sv h3{
    color: white;
    padding-bottom: 20px;
    font-size: 18px;
}
.customer-sv p{
    color: #8a9288;
}
.btt-button{
    width: 10%;
    float: left;
    text-align: center;
    padding-top: 20px;
}
.btt-button i{
    font-size: 40px;
    color: black;
}
.btt-button a{
    padding: 30px 20px 20px 20px;
    background-color: white;
    transition: 300ms color;
}
.btt-button a:hover{
    border: 1px solid red;
}
.menu-items{
    position: relative;
}
.submenu{
    display: none;
    position: absolute;
    width: 200px;
    height: 220px;
    background-color: #fff;
}
.fix1{
    height: 100px;!important;
}
.submenu li{
    float: left;
    width: 100%;
    padding: 15px 10px 0 15px;
}
.no-copy{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}
.no-copy p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
/*end*/
